doctype html
html
	block head
	head
		meta(charset='utf-8')
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		//-meta(name="description" content=metaDescription)
		//-meta(name='author' content=companyName)
		meta(name="robots" content="noindex, nofollow")
		title #{pageTitle}
		//-link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation-prototype.css")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700")
		link(rel='stylesheet prefetch' href='style.css')
	body(class=bodyClass)
		.grid-container
			.grid-x.grid-margin-x
				.small-12.medium-8.medium-offset-2.large-6.large-offset-3.cell
					block content
	//-script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
	//-script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous")
	//-script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous")
	//-script(src="https://use.fontawesome.com/760af282a5.js")
	//-script(src="index.js")
