extends _default

mixin option(name, text, price)
	div(class=`product__options-item product__${name}`)
		input.product__checkbox(id=`${name}` type='checkbox')
		label(for=`${name}`) #{text} (+ #{price.cformat()})

block head
	- var pageTitle = 'QonQer Webshop | Product'
	- var companyName = 'QonQer'
	- var bodyClass = 'qonqer__product'

block content
	include functions/_currencyFormat.pug
	- var productPrice = 3490
	- var productVisualURL = 'https://static.webshopapp.com/shops/029847/files/042614420/stromer-stromer-st1-t.jpg'	
	.product 
		.product__info
			h1.product__title Stromer ST1 t
			.product__summary De stijlvolle Audi bruin gespoten ST1 speed pedelec biedt een bijzondere rij-ervaring dankzij de vernieuwende Speed Drive, ontwikkeld door Schlumpf.
			.product__visual: img(src=productVisualURL)
			.product__price #{productPrice.cformat()}
		.product__options
			.product__frame-size
				h3.options__label Framemaat:
				.button-group
					a.button.secondary 
						span.main 17"
						span.sub (1,67m - 1,82m)
					a.button.primary 
						span.main 20" 
						span.sub (1,77m - 1,92m)
			h3.options__label Andere opties:
			+option('seatpost', 'Geveerde zadelpen', 199)
			+option('front-suspension', 'Geveerde voorvork', 560)
			+option('lock', 'Abus ringslot', 35)
			+option('license-plate', 'RDW leges en kenteken', 157.30)
			+option('winter-tyres', 'Winterbanden', 159.90)
		.product__order
			a.button.success.large Bestel nu
			
				
			
